openapi: 3.0.3
info:
  title: FastPix Data DRM API
  version: '1.0'
  description: FastPix is a developer-first video platform providing APIs for video on-demand (upload, ingest, encode, playback), live streaming, simulcasting, secure playback with signing keys and DRM, in-video AI (transcription, summaries, chapters, moderation, named entities), and video data / views analytics. All endpoints are served under the versioned base URL and secured with HTTP Basic authentication using an Access Token ID (username) and Secret Key (password) generated in the FastPix dashboard.
  contact:
    name: FastPix
    url: https://www.fastpix.io
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://api.fastpix.io/v1
  description: FastPix production API
security:
- basicAuth: []
tags:
- name: DRM
  description: Retrieve DRM configurations for protected playback.
paths:
  /on-demand/drm-configurations:
    get:
      tags:
      - DRM
      operationId: listDrmConfigurations
      summary: List DRM configurations
      responses:
        '200':
          description: A list of DRM configurations
  /on-demand/drm-configurations/{drmConfigurationId}:
    get:
      tags:
      - DRM
      operationId: getDrmConfiguration
      summary: Get a DRM configuration by ID
      parameters:
      - name: drmConfigurationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: DRM configuration details
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your FastPix Access Token ID as the username and your Secret Key as the password.
